<div [class]="clx">
    <label class="form-control w-full">
        <div class="label">
            <span class="label-text"> {{ label }} </span>
        </div>
        <!------------------------------------ INPUT FIELDS ----------------------------->
        @if(type === 'password')
        {
        <div class="relative">
            <input #passwordInputElement [formControl]="control" [type]="displayPassword ? 'text': 'password'"
                (input)="formIsSubmitting=false" [name]="name" [placeholder]="placeholder" [class]="inputClx" />
            <span (click)="toggleVisibility()" [class]="pwVisibilityClx">
                <pw-visibility-icon [show]="displayPassword"></pw-visibility-icon>
            </span>
        </div>
        }
        @else {
        <input #nonPasswordInputElement [formControl]="control" [type]="type" [placeholder]="placeholder"
            [class]="inputClx" (input)="formIsSubmitting=false" />
        }
        <!------------------------------------ END OF INPUT FIELDS ----------------------------->
    </label>


    <!------------------------------------ ERROR SECTION ---------------------------------------->
    <app-input-field-error-section [control]="control" [name]="name"
        [formIsSubmitting]="formIsSubmitting"></app-input-field-error-section>
    <!------------------------------------ END OF ERROR SECTION ---------------------------------------->

</div>