<main class="h-[calc(100vh-75px)] flex p-4 items-center w-full bg-neutral">

    <div class="basis-[55%] ">
        <div class="prose">
            <h1 class="font-serif">DataHUB for Troloppe Property Services</h1>
            <p class="text-sm pb-16">
                An exclusive solution for streamlined data collection and management designed specifically for our
                team members at Troloppe Property Services. It enables efficient gathering and secure storage of
                property information. Property
                data collected from the field stays confidential and accessible only to authorized personnel.
            </p>
        </div>
        <user-action-btn region="body"></user-action-btn>
    </div>
    <div class="grow h-full">
        <img src="assets/hero_images/at_the_office_amico.svg" class="size-full object-contain"/>
    </div>

</main>