<form [formGroup]="loginFormGroup" (ngSubmit)="onLogin()">
    <auth-login-email-changer [control]="emailControl"
        (changeBtnClick)="switchToVerifyEmailStage()"></auth-login-email-changer>
    <app-input-field #passwordInputField [formGroup]="loginFormGroup" name="password" type="password" clx="my-2" placeholder="Password"
        [forgetPassword]="true" [emailToResetControl]="emailControl">
    </app-input-field>
    <app-form-submit-btn text="Sign In" [loading]="loading"></app-form-submit-btn>
</form>