@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-quartz.css';
@import "./dashboard";

.app-backdrop {
  @apply bg-neutral/60 fixed inset-0 h-screen flex;
}

.app-layout {
  @apply h-screen flex flex-col;
}

// AG GRID

.ag-cell[col-id="image_path"],
.ag-cell[col-id="is_verified"] {
  @apply justify-center;
}

.ag-header-cell:nth-child(7) .ag-header-cell-label,
.ag-header-cell:nth-child(8) .ag-header-cell-label {
  justify-content: center;
}

.ag-theme-quartz-dark {
  --ag-background-color: #091319;
  --ag-foreground-color: #98b1c8;
  --ag-secondary-foreground-color: #dbecfa;
}

.activeRoute {
  @apply font-bold bg-base-content/20 text-secondary active:text-secondary focus:text-secondary;
}