@if(dataIsLoaded){
<div [@visibleTrigger]="dataIsLoaded && 'visible'">
  <div class="my-4 flex justify-between items-center">
    <app-back-btn />
    <text-button
      withIcon="edit"
      [isFlexed]="true"
      (clickEvent)="routeToEditStreetView()"
      text="Edit Street Data"
    ></text-button>
  </div>

  <street-data-form
    [streetDataFormGroup]="streetDataFormGroup"
    type="view"
    [geolocation]="geolocation"
    [creator]="creator"
    [createdAt]="createdAt"
    [isPermitted]="isPermitted"
  ></street-data-form>
</div>
} @else if (dataNotFound) {
<div class="pt-20">
  <app-not-found [insideDashboardView]="true" resourceName="Street Data" />
</div>
}
