<div class="relative z-10 m-auto w-full max-w-[500px] bg-base-100 p-8">
    <div>

        <div class="mb-6 flex justify-center">
            <app-brand-logo clx="mb-6"></app-brand-logo>
        </div>
        <h2 class="mb-4 text-center text-xl font-medium">Reset Password</h2>

        <p class="mb-4 text-center text-sm">Enter you new password below.</p>
        <form [formGroup]="resetPasswordFormGroup" (ngSubmit)="onResetPassword()" class="mb-4">
            <app-input-field #passwordInputField [formGroup]="resetPasswordFormGroup" name="password" type="password"
                placeholder="New Password" clx="mt-2 mb-4">
            </app-input-field>
            <app-input-field [formGroup]="resetPasswordFormGroup" name="password_confirmation" type="password"
                placeholder="Confirm Password" clx="mt-2 mb-4">
            </app-input-field>
            <app-form-submit-btn text="Reset Password" [loading]="loading"></app-form-submit-btn>
        </form>
    </div>
</div>