<pane-navigator-panel
  [(activePane)]="activePane"
  [tabs]="paneTabs"
></pane-navigator-panel>

@if(resettingForm) {
<ng-container *ngTemplateOutlet="spinnerTemplate"></ng-container>
} @else { @if(activePane === 'new-entry') {
<div [@visibleTrigger]="!resettingForm && 'visible'">
  <street-data-form
    [streetDataFormGroup]="streetDataFormGroup"
    type="new-create"
    [onSubmit]="onCreateStreetData.bind(this)"
  ></street-data-form>
</div>
} @else {
<div [@visibleTrigger]="!resettingForm && 'visible'">
  <existing-create-street-data [streetDataFormGroup]="streetDataFormGroup"></existing-create-street-data>
</div>
} }

<ng-template #spinnerTemplate>
  <div class="w-full py-10 flex justify-center items-center">
    <app-spinner></app-spinner>
  </div>
</ng-template>
