<div class="bg-base-200">
    <app-container clx="navbar md:px-6">
        <div class="navbar-start">
            <div class="dropdown">
                <div tabindex="0" role="button" class="btn btn-ghost lg:hidden" (click)="menuService.toggleState()">
                    <menu-toggler-icon></menu-toggler-icon>
                </div>
                <app-side-menu>
                    <li>
                        <a>Pages</a>
                        <app-route-list [routeList]="routeList" activeRouteClass="activeRoute"> </app-route-list>
                    </li>
                </app-side-menu>
            </div>
            <app-brand-logo clx="relative left-4 lg:static"></app-brand-logo>
        </div>
        <div class="navbar-center hidden lg:flex">
            <app-route-list [routeList]="routeList" activeRouteClass="mixin/active"
                clx="menu menu-horizontal px-1 mixin/active:text-secondary mixin/active:font-bold"> </app-route-list>
        </div>
        <div class="navbar-end">
            <app-color-scheme clx="hidden lg:block"></app-color-scheme>
            <user-action-btn></user-action-btn>
        </div>

    </app-container>
</div>