<div @routeFadeInOut class="divider-y relative container mx-auto max-w-[800px] px-2 py-4 bg-base-300">
    <button *ngIf="ns.count$ | async" (click)="deleteAll()" class="text-error absolute top-9 right-9"
        title="Delete all notifications">
        <my-mat-icon>delete</my-mat-icon>
    </button>
    <pane-navigator-panel [(activePane)]="activePane" [tabs]="tabs"> </pane-navigator-panel>

    <div class="divide-y divide-base-100">
        @if(activePane === 'unread'){
        <dashboard-notification-pane notificationType="unread" [notifications]="unreadNotifications" [error]="error">
        </dashboard-notification-pane>
        } @else {
        <dashboard-notification-pane notificationType="all" [notifications]="allNotifications" [error]="error">
        </dashboard-notification-pane>
        }
    </div>
</div>