<div [class]="utils.cn('', clx)">
  @if(!pending){
  <div [@visibleTrigger]="!pending && 'visible'" tabindex="-1" #selectRef>
    <label class="form-control w-full">
      <div class="label">
        <span class="label-text font-semibold"> {{ label }} </span>
        <span class="font-bold text-secondary" *ngIf="isRequired">*</span>
      </div>
      <select
        (change)="onChange($event)"
        [formControl]="control"
        [class]="
          utils.cn(
            'select focus:outline-secondary w-full select-bordered rounded-md',
            { 'select-error': formIsSubmitting && control.errors }
          )
        "
      >
        <option [value]="null" selected disabled hidden>Select Option</option>
        @for (item of items; track $index) {
        <option [value]="item[bindValue]">{{ item[bindLabel] }}</option>
        }
      </select>
    </label>
  </div>

  <!------------------------------------ ERROR SECTION ---------------------------------------->
  <app-input-field-error-section
    [control]="control"
    [name]="name"
    [formIsSubmitting]="formIsSubmitting"
  ></app-input-field-error-section>
  <!------------------------------------ END OF ERROR SECTION ---------------------------------------->
  } @else {
  <div class="my-2">
    <app-spinner></app-spinner>
  </div>
  }
</div>
