<div [class]="utils.cn('', clx)">

  <div [@visibleTrigger]="!pending && 'visible'" tabindex="-1" #selectRef>
    <label class="form-control w-full relative">
      <div class="label">
        <span class="label-text font-semibold flex items-center">
          <span class="mr-1">
            {{ label }}
          </span>
          <button [class.invisible]="!showAddBtn || !items" class="brightness-50 hover:brightness-100 active:scale-95">
            <my-mat-icon class="font-black" (click)="sds.emitAddBtnClick(formGroup, name)">add</my-mat-icon>
          </button>
        </span>
        <span class="font-bold text-secondary" *ngIf="isRequired">*</span>
      </div>
      <div class="h-fit w-full relative">
        @if(displaySelect){
        <select (change)="onChange($event)" [formControl]="control" [class]="selectClx">
          <option [value]="null" [selected]="true" [disabled]="true" [hidden]="true">Select Option</option>
          @for (item of items; track $index) {
          <option [value]="item[bindValue]">{{ item[bindLabel] }}</option>
          }
        </select>
        }
        @else {
        <!-- Displays when no options available -->
        <input [readonly]="true" [value]="optionsNotFoundText ?? 'No options found'" [class]="selectClx" />
        }
        @if(pending){
        <div class="my-2 text-center absolute top-1 left-1/2 -translate-x-1/2">
          <app-spinner></app-spinner>
        </div>
        }
      </div>
    </label>
  </div>

  <!------------------------------------ ERROR SECTION ---------------------------------------->
  <app-input-field-error-section [control]="control" [name]="name"
    [formIsSubmitting]="formIsSubmitting"></app-input-field-error-section>
  <!------------------------------------ END OF ERROR SECTION ---------------------------------------->
</div>