@if(dataIsLoaded){

<div [@visibleTrigger]="dataIsLoaded && 'visible'">
  <div class="my-4 flex justify-between items-center">
    <app-back-btn />
    <text-button
    *ngIf="permissionService.belongsToCurrentUser(streetData!.creator_id)"
      withIcon="delete"
      [isFlexed]="true"
      state="error"
      text="Delete Street Data"
      (clickEvent)="onDeleteStreetData()"
    ></text-button>
  </div>
  <street-data-form
    [streetDataFormGroup]="streetDataFormGroup"
    type="edit"
    [onSubmit]="onEditStreetData.bind(this)"
    [geolocation]="geolocation"
    [creator]="creator"
    [createdAt]="createdAt"
    [isPermitted]="isPermitted"
  ></street-data-form>
</div>
} @else if (dataNotFound) {
<app-not-found [insideDashboardView]="true" resourceName="Street Data" />
}
