<div class="my-4 flex justify-end items-center">
    <text-button withIcon="add" [isFlexed]="true" (clickEvent)="routeToNewListingView()" text="New Listing">
    </text-button>
</div>

<ag-grid-angular 
    class="!bg-transparent h-[calc(100vh-200px)]"
    rowClass="cursor-pointer" 
    rowModelType="infinite"
    [rowHeight]="40"
    [pagination]="false"
    [class.ag-theme-quartz-dark]="tableThemeColor === 'dark'" 
    [datasource]="datasource" 
    [infiniteInitialRowCount]="initialRowCount"
    [cacheBlockSize]="pageSize"
    [maxBlocksInCache]="2"
    [class.ag-theme-quartz]="tableThemeColor === 'light'" 
    [columnDefs]="colDefs"
    [defaultColDef]="defaultColDefs" 
    [animateRows]="true" 
    [gridOptions]="gridOptions"
    >
</ag-grid-angular>