<div class="relative z-10 m-auto w-full max-w-[500px] bg-base-100 p-8">
  <div>

    <div class="mb-6 flex justify-center">
      <app-brand-logo clx="mb-6"></app-brand-logo>
    </div>
    <h2 class="mb-4 text-center text-xl font-medium">Forgot Password</h2>

    <p class="mb-4 text-center text-sm">
      Forgot your password? No problem. Just enter your registered email address
      and we will email you a password reset link that will allow you choose a
      new one.
    </p>
    <form [formGroup]="forgotPasswordFormGroup" (ngSubmit)="onSendResetLinkMail()">
      <app-input-field #emailInputField [formGroup]="forgotPasswordFormGroup" name="email" type="email"
        placeholder="Email Address" clx="mt-2 mb-4">
      </app-input-field>
      <app-form-submit-btn text="Send" [loading]="loading"></app-form-submit-btn>
    </form>
  </div>
</div>