<h2 class="mb-4 text-lg font-semibold">Overview</h2>
<pane-navigator-panel [activePane]="activePane" (activePaneChange)="setActivePane($event)" [tabs]="tabs" type="pill" class="mb-4"></pane-navigator-panel>

<dashboard-home-auth-notice />

@if (activePane === 'street-data'){
<div [@visibleTrigger]="activePane === 'street-data' && 'visible'">
    <dashboard-street-data-overview />
</div>
}
@if (activePane === 'external-listings'){
<div [@visibleTrigger]="activePane === 'external-listings' && 'visible'">
    <dashboard-external-listings-overview/>
</div>
}

@else if (activePane === 'investment-data'){
<div [@visibleTrigger]="activePane === 'investment-data' && 'visible'" class="p-4 text-2xl">
    Coming Soon!!!
</div>
}