<div class="w-full p-2 md:p-4 lg:w-3/4 mx-auto">
    <form class="rounded-lg bg-base-300 p-4 md:p-8 text-sm shadow-md backdrop-blur-md my-6"
        [formGroup]="externalListingFormGroup" (ngSubmit)="handleSubmit($event)">

        <div class="md:flex gap-2 justify-between">

            <!-- State Select Field -->
            <app-select-dropdown clx="my-3" label="State" name="state" [items]="optionsRecord['state']"
                [formGroup]="externalListingFormGroup" bindLabel="name" bindValue="id"
                [disableControlBasedOnData]="true" (valueChange)="onStateChange($event)">
            </app-select-dropdown>

            <!-- Region Select Field -->
            <app-select-dropdown clx="my-3" label="Region" name="region" [items]="optionsRecord['region']"
                [formGroup]="externalListingFormGroup" bindLabel="name" bindValue="id"
                [disableControlBasedOnData]="true" (valueChange)="onRegionChange($event)"
                [pending]="isFetchingRecord['region']">
            </app-select-dropdown>
        </div>

        <div class="md:flex gap-2 justify-between">

            <!-- Location Select Field -->
            <app-select-dropdown clx="my-3" label="Location" name="location" [items]="optionsRecord['location']"
                [formGroup]="externalListingFormGroup" bindLabel="name" bindValue="id"
                [disableControlBasedOnData]="true" (valueChange)="onLocationChange($event)"
                [pending]="isFetchingRecord['location']">
            </app-select-dropdown>

            <!-- Section Select Field -->
            <app-select-dropdown clx="my-3" label="Section" name="section" [items]="optionsRecord['section']"
                [formGroup]="externalListingFormGroup" bindLabel="name" bindValue="id"
                [disableControlBasedOnData]="true" (valueChange)="onSectionChange($event)"
                [pending]="isFetchingRecord['sections']">
            </app-select-dropdown>
        </div>

        <div class="md:flex gap-2 justify-between">
            <!-- LGA Select Field -->
            <app-select-dropdown clx="my-3" label="L G A" name="lga" [items]="optionsRecord['lga']"
                [formGroup]="externalListingFormGroup" bindLabel="name" bindValue="id"
                [disableControlBasedOnData]="true" (valueChange)="onLgaChange($event)"
                [pending]="isFetchingRecord['lga']">
            </app-select-dropdown>

            <!-- LCDA Select Field -->
            <app-select-dropdown clx="my-3" label="L C D A" name="lcda" [items]="optionsRecord['lcda']"
                [formGroup]="externalListingFormGroup" bindLabel="name" bindValue="id"
                [pending]="isFetchingRecord['lcda']">
            </app-select-dropdown>
        </div>

        <!-- Street Name Input Field -->
        <app-input-field [formGroup]="externalListingFormGroup" label="Street Name" name="streetName"></app-input-field>

        <!-- Street Number Input Field -->
        <app-input-field [formGroup]="externalListingFormGroup" label="Street Number"
            name="streetNumber"></app-input-field>

        <!-- Development Input Field -->
        <app-input-field [formGroup]="externalListingFormGroup" label="Development"
            name="development"></app-input-field>

        <div class="md:flex gap-2 justify-between">
            <!-- Sector Select Field -->
            <app-select-dropdown clx="my-3" label="Sector" name="sector" [items]="optionsRecord['sector']"
                [formGroup]="externalListingFormGroup" bindLabel="name" bindValue="id"
                [disableControlBasedOnData]="true" (valueChange)="onSectorChange($event)" [showAddBtn]="false">
            </app-select-dropdown>

            <!-- Sub Sector Select Field -->
            <app-select-dropdown clx="my-3" label="Sub Sector" name="subSector" [items]="optionsRecord['subSector']"
                [formGroup]="externalListingFormGroup" bindLabel="name" bindValue="id"
                [pending]="isFetchingRecord['subSector']">
            </app-select-dropdown>
        </div>

        <!-- Sub Type Input Field -->
        <app-input-field [formGroup]="externalListingFormGroup" label="Sub Type" name="subType"></app-input-field>

        <!-- Offer Select Field -->
        <app-select-dropdown clx="my-3" label="Offer" name="offer" [items]="optionsRecord['offer']"
            [formGroup]="externalListingFormGroup" bindLabel="name" bindValue="id" [showAddBtn]="false">
        </app-select-dropdown>

        <div class="md:flex gap-2 justify-between">
            <!-- Number of Beds Field -->
            <app-input-field [formGroup]="externalListingFormGroup" label="Number of Beds" name="noOfBeds"
                type="number"></app-input-field>

            <!-- Size Field -->
            <app-input-field [formGroup]="externalListingFormGroup" label="Size" name="size"
                type="number"></app-input-field>

            <!-- Land Area Field -->
            <app-input-field [formGroup]="externalListingFormGroup" label="Land Area" name="landArea"
                type="number"></app-input-field>
        </div>

        <div class="md:flex gap-2 justify-between">
            <!-- Sale Price Field -->
            <app-input-field [formGroup]="externalListingFormGroup" label="Sale Price" name="salePrice"
                type="number"></app-input-field>

            <!-- Lease Price Field -->
            <app-input-field [formGroup]="externalListingFormGroup" label="Lease Price" name="leasePrice"
                type="number"></app-input-field>
        </div>
        <div class="md:flex gap-2 justify-between">
            <!-- Price/Sqm Field -->
            <app-input-field [formGroup]="externalListingFormGroup" label="Price/Sqm" name="pricePerSqm"
                type="number"></app-input-field>

            <!-- Service Charge Field -->
            <app-input-field [formGroup]="externalListingFormGroup" label="Service Charge" name="serviceCharge"
                type="number"></app-input-field>
        </div>

        <div>
            <!-- Developers Field -->
            <app-ppty-searchable-select-dropdown [formGroup]="externalListingFormGroup" label="Developer"
                name="developer" resourceName="developers" subLabel="phone_number">
            </app-ppty-searchable-select-dropdown>
        </div>
        <div>
            <!-- Listing Agents Field -->
            <app-ppty-searchable-select-dropdown [formGroup]="externalListingFormGroup" label="Listing Agent"
                name="listingAgent" resourceName="listingAgents" subLabel="phone_numbers">
            </app-ppty-searchable-select-dropdown>
        </div>
        <div>
            <!-- Listing Sources Field -->
            <app-ppty-searchable-select-dropdown [formGroup]="externalListingFormGroup" label="Listing Source"
                name="listingSource" resourceName="listingSources">
            </app-ppty-searchable-select-dropdown>
        </div>
    </form>
</div>